.selected-order {
    background: linear-gradient(to bottom right, #0e9dea, #144167) !important;
}

.selected-order:hover,
.selected-order:focus {
    background: linear-gradient(to bottom right,  #0e9dea, #144167) !important;
}

.ListGroup.Item:hover,
.ListGroup.Item:focus {
    background-color: #5a80a3;
}

.instruction-text {
    padding: 20px;
    background-color: #f8f9fa;
    /* border: 2px dashed #007bff; */
    color: #007bff;
    font-size: 1.2rem;
    text-align: center;
    margin: 150px 0px 0px 0px ;
}

.order-details {
    font-weight: 700;
    font-size: medium;
    margin: 0px 5px 0px 0px;
}